**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

venv/
env/
.venv/

.env
.env.*
*.env

.vscode/
.idea/
*.swp
*.swo

logs/
*.log

.DS_Store
Thumbs.db

.dvc/cache/
.dvc/tmp/
.dvc/plots/

data/documents/

models/
*.bin
*.pt
*.pth
*.faiss
*.pkl

mlruns/
mlartifacts/

.streamlit/secrets.toml

.cache/
tmp/
temp/

*.db
*.sqlite3

.ipynb_checkpoints/
data/documents/
logs/
.env
rag_output.json
models/mlflow.db
mlruns/
mlartifacts/
**/mlruns/
**/mlartifacts/
